@page "/produtos"

<div class="custom-block bg-white shadow-lg">
    <div class="card">
        <div class="card-header">
            Cadastro de Produtos
        </div>
        <div class="card-body">
            <div class="col-lg-8">
                <div class="mb-4">
                    <div class="row">
                        <div class="col-lg-9 form-group">
                            <label>Nome Produto</label>
                            <input class="form-control" type="text" placeholder="Nome">
                        </div>
                        <div class="col-lg-3 form-group">
                            <label>Estoque</label>
                            <input class="form-control" type="text" placeholder="Qtd">
                        </div>
                        <div class="col-lg-6 form-group">
                            <label>Nome Fornecedor</label>
                            <input class="form-control" type="text" placeholder="Fornecedor">
                        </div>
                        <div class="col-lg-2 form-group">
                            <label>Preço</label>
                            <input class="form-control" type="text" placeholder="Preço">
                        </div>
                        <div class="col-lg-6 form-group">
                            <label>Categoria</label>
                            <input class="form-control"  placeholder="Categoria" type="text">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-14 form-group">
                            <label>Descrição do Produto</label>
                            <input class="form-control" type="text" placeholder="Descrição">
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-12">
                <button type="submit" style="background-color:gray" class="btn btn-primary">Voltar</button>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </div>
    </div>
   
</div>


@code {

}
