@page "/produtos";

<h3>VisualizarProdutos</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col2">#</th>
            <th scope="col2">Descrição</th>
            <th scope="col2">Quantidade</th>
            <th scope="col2">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Celular</td>
            <td>2</td>
            <td>Ativo</td>                                  
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>tablet</td>
            <td>2</td>
            <td>Ativo</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>twitter</td>
        </tr>
    </tbody>
</table>
@code {

}

